@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to your home page</h1>
    <br /> <br /> 
    <img src="~/img/microsoftdotnet.png" alt="Microsoft Dot-net" width="50%" height="50%" />
</div>
